{
  "arrowParens": "always",
  "bracketSameLine": true,
  "bracketSpacing": true,
  "endOfLine": "lf",
  "jsxSingleQuote": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "useTabs": false,
  "printWidth": 150,
  "importOrder": ["^@common/(.*)$", "^@back-end/(.*)$", "^@front-end/(.*)$", "^@components/(.*)$", "^[./]"],
  "importOrderSeparation": true
}
